.header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
  background-color: var(--clr-white);
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-block: var(--space-s);
  gap: 1.5rem;
}

.nav__list {
  display: flex;
  flex-direction: column;
  gap: var(--space-s);
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 250px;
  background-color: var(--clr-white);
  z-index: 10;
  padding-left: var(--space-s);
  padding-top: 100px;
  transform: translateX(-100%);
  transition: transform 350ms ease-out;
}

.nav__list.nav--open {
  transform: translateX(0%);
}

.nav--open .nav__link {
  color: var(--clr-secondary-700);
  font-weight: 700;
}

.logo {
  margin-right: auto;
}

.avatar {
  width: 35px;
}

.avatar:hover,
.avatar:focus {
  border: 2px solid var(--clr-primary-400);
  border-radius: 50%;
}

.nav-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--space-base);
}

.menu-btn {
  display: inline-block;
  border: 0;
  position: relative;
  z-index: 100;
}

@media (min-width: 1024px) {
  .nav {
    border-bottom: 1px solid var(--clr-secondary-200);
    padding-block: var(--space-m);
  }

  .nav__list {
    display: flex;
    flex-direction: row;
    position: static;
    padding: 0;
    list-style: none;
    margin-right: auto;
    gap: var(--space-s);
    transform: translateX(0);
  }

  .nav__link {
    color: var(--clr-secondary-400);
    font-weight: 400;
    position: relative;
  }

  .nav__link::after {
    content: '';
    display: block;
    height: 4px;
    width: 100%;
    background-color: var(--clr-primary-400);
    position: absolute;
    bottom: -3.125rem;
    opacity: 0;
  }

  .nav__link:hover,
  .nav__link:focus {
    color: var(--clr-secondary-700);
  }

  .nav__link:focus::after,
  .nav__link:hover::after {
    opacity: 1;
  }

  .menu-btn {
    display: none;
  }

  .logo {
    margin-right: var(--space-m);
  }
}
