.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-block: 2rem;
}

.nav-list {
  display: none;
}

.logo {
  margin-bottom: 0.25rem;
}

.avatar {
  width: 35px;
}

.nav > div {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.menu-btn {
  display: inline-block;
  border: 0;
}

.nav-list {
  list-style: none;
}

.nav-item {
  padding: 0.5em 1em;
  color: var(--clr-secondary-400);
}

.cart-icon-container {
  position: relative;
}

.order-count {
  font-size: 10px;
  font-weight: 700;
  background-color: hsl(26, 100%, 55%);
  color: hsl(0, 0%, 100%);
  padding-inline: 0.25rem;
  border-radius: 0.5rem;
  position: absolute;
  top: 0;
  left: 50%;
}

@media (min-width: 1024px) {
  .nav {
    border-bottom: 1px solid var(--clr-secondary-200);
  }
  .menu-btn {
    display: none;
  }

  .logo {
    margin-right: 2rem;
  }

  .nav-list {
    display: flex;
    margin-right: auto;
  }
}
