.header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
  background-color: var(--clr-white);
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-block: 2rem;
  gap: 1.5rem;
}

.nav__list {
  display: none;
}

.nav--open {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 60%;
  background-color: var(--clr-white);
  z-index: 10;
  padding-left: 2rem;
  padding-top: 100px;
}

.nav--open .nav__link {
  color: var(--clr-secondary-700);
  font-weight: 700;
}

.logo {
  margin-right: auto;
}

.avatar {
  width: 35px;
}

.nav-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.menu-btn {
  display: inline-block;
  border: 0;
  position: relative;
  z-index: 100;
}

.cart-icon-container {
  position: relative;
}

.order-count {
  font-size: 10px;
  font-weight: 700;
  background-color: hsl(26, 100%, 55%);
  color: hsl(0, 0%, 100%);
  padding-inline: 0.25rem;
  border-radius: 0.5rem;
  position: absolute;
  top: 0;
  left: 50%;
}

@media (min-width: 1024px) {
  .nav {
    border-bottom: 1px solid var(--clr-secondary-200);
  }

  .nav__list {
    display: flex;
    list-style: none;
    margin-right: auto;
    gap: 1.5rem;
  }

  .nav__link {
    color: var(--clr-secondary-400);
    font-weight: 400;
    position: relative;
  }

  .nav__link::after {
    content: '';
    display: block;
    height: 2px;
    width: 100%;
    background-color: var(--clr-primary-400);
    position: absolute;
    bottom: -2.5rem;
    opacity: 0;
  }

  .nav__link:hover,
  .nav__link:focus {
    color: var(--clr-secondary-700);
  }

  .nav__link:focus::after,
  .nav__link:hover::after {
    opacity: 1;
  }

  .menu-btn {
    display: none;
  }

  .logo {
    margin-right: 2rem;
  }
}
