.product-preview {
  margin-bottom: 1rem;
}

.carousel-item > img {
  border-radius: 0.5rem;
}

.thumbnails {
  display: none;
}

.carousel {
  position: relative;
}

.carousel-nav {
  padding: 13px;
  border-radius: 50%;
  background-color: hsl(0, 0%, 100%);
  position: absolute;
  top: 50%;
}

.carousel-prev {
  transform: translateY(-50%);
  left: 1rem;
}

.carousel-next {
  transform: translateY(-50%);
  /* transform: translateX(-50%); */
  right: 1rem;
}

@media (min-width: 1024px) {
  .thumbnails {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.5rem;
    margin-top: 1.5rem;
  }

  .thumbnails img {
    border-radius: 0.5rem;
  }
}
