.product-page {
  margin-bottom: 5rem;
}

.company-name {
  font-size: 1rem;
  text-transform: uppercase;
  color: var(--clr-primary-400);
  font-weight: 700;
  margin-bottom: 1rem;
}

.product-name {
  font-size: 2rem;
  text-transform: capitalize;
  color: var(--clr-secondary-700);
  font-weight: 700;
  line-height: 1.1;
  margin-bottom: 1rem;
}

.product-desc {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.6;
  color: var(--clr-secondary-400);
  margin-bottom: 2rem;
}

.add-to-cart-tab {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

@media (min-width: 1024px) {
  .product-page {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 7.5rem;
  }

  .add-to-cart-tab {
    flex-direction: row;
    gap: 1.5rem;
  }
}
