.product-page {
  margin-bottom: 2rem;
  position: relative;
}

.company-name {
  font-size: 0.875rem;
  text-transform: uppercase;
  color: var(--clr-primary-400);
  font-weight: 500;
  letter-spacing: 1px;
  margin-bottom: 0.75rem;
}

.product-name {
  font-size: 1.75rem;
  text-transform: capitalize;
  color: var(--clr-secondary-700);
  font-weight: 700;
  line-height: 1.1;
  margin-bottom: 1.5rem;
}

.product-desc {
  font-size: 15px;
  line-height: 1.6;
  color: var(--clr-secondary-400);
  margin-bottom: 1.5rem;
}

.price-tab {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1.5rem;
}

.new-price {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-weight: 700;
}

.price {
  font-size: 1.75rem;
  font-family: 700;
}

.discount {
  font-size: 12px;
  font-weight: 700;
  color: var(--clr-primary-400);
  background-color: var(--clr-primary-100);
  padding: 0.25rem 0.5rem;
  border-radius: 0.25rem;
}

.old-price {
  text-decoration: line-through;
  font-weight: 500;
  color: var(--clr-secondary-200);
}

.add-to-cart-tab {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.quantity-tab {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem;
  background-color: hsl(223, 64%, 98%);
  border-radius: 0.5rem;
  width: 100%;
}

.plus-btn,
.minus-btn {
  padding: 1rem;
}

@media (min-width: 1024px) {
  .product-page {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 7.5rem;
    width: 90%;
    margin: 4rem auto 0;
  }

  .product-name {
    font-size: 2.5rem;
  }

  .product-desc {
    font-size: 1rem;
  }

  .add-to-cart-tab {
    flex-direction: row;
    gap: 1.5rem;
  }
}
