.product-page {
  margin-bottom: 2rem;
  position: relative;
}

.company-name {
  font-size: clamp(0.75rem, 4vw + 1rem, 0.8125rem);
  text-transform: uppercase;
  color: var(--clr-primary-400);
  font-weight: 500;
  letter-spacing: 1px;
  margin-bottom: var(--space-base);
}

.product-name {
  font-size: clamp(1.75rem, 4vw + 1rem, 2.75rem);
  text-transform: capitalize;
  color: var(--clr-secondary-700);
  font-weight: 700;
  line-height: 1.1;
  margin-bottom: var(--space-base);
}

.product-desc {
  font-size: 0.9375rem;
  font-size: clamp(0.9375rem, 4vw + 1rem, 1rem);
  line-height: 1.6;
  color: var(--clr-secondary-400);
  margin-bottom: var(--space-s);
}

.price-tab {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: var(--space-s);
}

.new-price {
  display: flex;
  align-items: center;
  gap: var(--space-base);
  font-weight: 700;
}

.price {
  font-size: 1.75rem;
  font-family: 700;
}

.discount {
  font-size: 12px;
  font-weight: 700;
  color: var(--clr-primary-400);
  background-color: var(--clr-primary-100);
  padding: 0.25rem 0.5rem;
  border-radius: 0.25rem;
}

.old-price {
  text-decoration: line-through;
  font-weight: 500;
  color: var(--clr-secondary-200);
}

.quantity-tab {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: hsl(223, 64%, 98%);
  border-radius: 0.5rem;
  height: 56px;
}

@media (min-width: 1024px) {
  .product-page {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 7.5rem;
    width: 90%;
    margin: 4rem auto 0;
  }

  .product-preview,
  .product-details {
    width: 50%;
  }

  .add-to-cart-tab {
    flex-direction: row;
    gap: 1.5rem;
  }
}
