@tailwind base;
@tailwind components;
@tailwind utilities;

*,
::before,
::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  /* ### Primary */

  --clr-primary-400: hsl(26, 100%, 55%);
  --clr-primary-100: hsl(25, 100%, 94%);

  /* ### Neutral */
  --clr-secondary-700: hsl(220, 13%, 13%);
  --clr-secondary-400: hsl(219, 9%, 45%);
  --clr-secondary-200: hsl(220, 14%, 75%);
  --clr-secondary-100: hsl(223, 64%, 98%);

  --clr-white: hsl(0, 0%, 100%);
  --clr-black: hsl(0, 0%, 0%);
  /* 
  --bg-lightbox(with 75% opacity for lightbox background): hsl(0, 0%, 0%)
  */

  --space-base: 1rem;
  --space-s: 1.5rem;
  --space-m: 2.5rem;
  --space-l: 5rem;
}

body {
  margin: 0;
  padding-top: 100px;
  color: var(--clr-secondary-700);
  font-size: 15px;
}

.container {
  padding-inline: var(--space-s);
}

img {
  max-width: 100%;
}

.btn {
  display: inline-block;
  font-size: 1rem;
  font-weight: 700;
  border: 0;
  cursor: pointer;
  padding: 1rem;
}

.btn--primary {
  background-color: var(--clr-primary-400);
  color: var(--clr-white);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  border-radius: 0.5rem;
  width: 100%;
}

.btn--primary:hover {
  background-color: var(--clr-primary-100);
  color: var(--clr-primary-400);
}

.btn--secondary {
  color: var(--clr-primary-400);
}

.btn--secondary:hover {
  color: var(--clr-primary-400);
  opacity: 0.5;
}

.disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

.delete-btn {
  color: var(--clr-secondary-400);
}

.base-text {
  font-size: clamp(0.9375rem, 4vw + 1rem, 1rem);
  line-height: 1.6;
  color: var(--clr-secondary-400);
}

@media (min-width: 640px) {
  .container {
    padding-inline: 0;
    width: 90%;
    max-width: 768px;
    margin: 0 auto;
  }
}

@media (min-width: 1024px) {
  .container {
    max-width: 1100px;
  }
}
