@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

:root {
  /* ### Primary */

  --clr-primary-400: hsl(26, 100%, 55%);
  --clr-primary-100: hsl(25, 100%, 94%);

  /* ### Neutral */
  --clr-secondary-700: hsl(220, 13%, 13%);
  --clr-secondary-400: hsl(219, 9%, 45%);
  --clr-secondary-200: hsl(220, 14%, 75%);
  --clr-secondary-100: hsl(223, 64%, 98%);

  --clr-white: hsl(0, 0%, 100%);
  --clr-black: hsl(0, 0%, 0%);
  /* 
  --bg-lightbox(with 75% opacity for lightbox background): hsl(0, 0%, 0%)
  */
}
body {
  margin: 0;
  padding-top: 100px;
}

.product-page {
  margin-bottom: 5rem;
  position: relative;
}

.company-name {
  font-size: 1rem;
  text-transform: uppercase;
  color: var(--clr-primary-400);
  font-weight: 700;
  margin-bottom: 1rem;
}

.product-name {
  font-size: 2rem;
  text-transform: capitalize;
  color: var(--clr-secondary-700);
  font-weight: 700;
  line-height: 1.1;
  margin-bottom: 1rem;
}

.product-desc {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.6;
  color: var(--clr-secondary-400);
  margin-bottom: 2rem;
}

.price-tab {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.new-price {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.price {
  font-size: 2rem;
  font-family: 700;
}

.discount {
  font-size: 12px;
  font-weight: 700;
  color: var(--clr-primary-400);
  background-color: var(--clr-primary-100);
  padding: 0.25rem 0.5rem;
  border-radius: 0.25rem;
}

.old-price {
  text-decoration: line-through;
  font-weight: 700;
  color: var(--clr-secondary-200);
}

.add-to-cart-tab {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.btn--primary {
  background-color: hsl(26, 100%, 55%);
  color: var(--clr-white);
  padding: 1em 3em;
  font-size: 1rem;
  font-weight: 700;
  border: 0;
  width: 100%;
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.btn--primary:hover {
  background-color: hsl(25, 100%, 94%);
  color: var(--clr-black);
}

.quantity-tab {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem;
  background-color: hsl(223, 64%, 98%);
  border-radius: 0.5rem;
  width: 100%;
}

.plus-btn,
.minus-btn {
  padding: 1rem;
}

@media (min-width: 1024px) {
  .product-page {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 7.5rem;
    width: 90%;
    margin: 5rem auto;
  }

  .product-name {
    font-size: 3rem;
  }

  .add-to-cart-tab {
    flex-direction: row;
    gap: 1.5rem;
  }
}

@media (min-width: 1024px) {
  .container {
    max-width: 1100px;
    margin: 0 auto;
  }
}
